

main{
    padding-top: 10%;
    margin-bottom:5%;

}

.containerwhite{
  background-color: #fff !important;
  /* padding-top: 2em; */
  padding-bottom: 2em;
}

.form-row{
  margin-top:2em;
}

#description{
  background-color: #fff !important;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}


.card-img-top {
    max-height:100%;
    max-width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.py-5 {
  padding-top:50px!important;

}

.genre{
	margin-top: 50%;
}
.mybutton{
  color: #0e0d0d;
  background-color: #e8ae89;
  
}


