
html{
    background-color : grey;
}

main{
	margin-top: 10%;
}

.card-img-top {
    max-height:100%;
    max-width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}


